h3.forms_header_text {
  font-size: 18px;
  color: #edd0d5;
  margin-top: 16px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  }

.index-cntnr {
  max-width: 968px;
  background-color: #fff6f6;
  border-radius: 10px;
  border-color: #000;
  padding: 10px;
  margin: 10px;
  }

h5.index-cntnr {
  font-style: italic;
}

h3.footer {
    color: #954e55; 
    font-size: 24px;
    font-style: italic;
    margin-left: 20px;

  }


