h3.forms_header_text {
  font-size: 18px;
  color: gray;
  margin-top: 16px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  }

h3.footer {
    color: blueviolet; 
    font-size: 32px;
  }


