.ytstats-container {
  width: 100%;
  max-width: 968px;
  margin: 0;
  padding: 10px;
  display: flex;
  background-color: #aa3a3a;
}

.ytstats-container h1 {
  color: blue; 
  font-size: 36px;
  font-weight: bold;
  text-align: left;
  margin: 0;
  padding: 0;
}

.ytstats-container h3 {
  color: #3a3a3a;
  font-style: italic;
  margin: 10px 0;
}

.ytstats-container p {
  color: #9c1d2a;
  font-size: 16px;
  margin: 10px 0;
}

.ytstats-col-left {
  width: 50%;
  text-align: left;
  margin-left: 5px;
}

.ytstats-col-right {
  width: 50%;
  text-align: left;
}

.ytstats-title {
  background-color: #edd0d5;
  border-radius: 10px;
  border-color: #000;
  padding: 10px;
  margin: 10px;
}

.ytstats-recent-video {
  background-color: #edd0d5;
  border-radius: 10px;
  border-color: #000;
  padding: 10px;
  margin: 10px;
}

.ytstats-description {
  background-color: #fff6f6;
  border-radius: 10px;
  border-color: #000;
  padding: 10px;
  margin: 10px;
}

.ytstats-details {
  background-color: #edd0d5;
  border-radius: 10px;
  border-color: #000;
  padding: 10px;
  margin: 10px;
}

.ytstats-details-middle {
  background-color: #fff6f6;
  border-radius: 10px;
  border-color: #000;
  padding: 10px;
  margin: 10px;
}