body {
    background-color: #a46565; /* Grey */
    color: #FFFFFF; /* White */

}

h1, h2, h3, h4, h5 {
    background-color: #FF0000; /* Red */
    color: #000000; /* Black */
    text-shadow: 1px 1px #FFFFFF; /* White */
    border: 2px solid #000000; /* Black */
    border-radius: 15px;
    padding: 10px;
}

.header {
    color: #000000; /* Black */
    text-shadow: 1px 1px #FFFFFF; /* White */
}

.recentvid {
    background-color: #392f2f;
}

.disc {
    padding: 10px;
    border-radius: 10px;
  }

.container {
    display: flex;
  }
  
.column {
    width: 50%;
  }
  
  
