<nav class="navbar navbar-default" style="background-color: #9c1d2a">
  <div class="container-fluid">
    <div class="navbar-header" style="height: 98px">
      <a class="navbar-brand" href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='img/ytstat.png') }}" alt="ytstat.com" width="273" height="65">
      </a>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="form-inline">
          <h3 class="forms_header_text">&nbsp;&nbsp;&nbsp;YouTube Channel Search</h3>
        </div>
      
        <form class="navbar-form navbar-left col-xs-12 col-sm-6" id="usernameSelected" method="post" onsubmit="return validateUsernameForm()">
          <div class="input-group">
            <input type="text" class="form-control" id="username_input" name="username" placeholder="Enter Channel Name">
            <span class="input-group-btn">
              <input type="hidden" name="input_type" value="username">
              <button type="submit" style="background-color: lightgrey; margin-left: 2px;" class="btn btn-default">Search</button>    
            </span>
          </div>
        </form>
      
        <form class="navbar-form navbar-left col-xs-12 col-sm-6" id="idFormSelected" method="post" onsubmit="return validateIdForm()">
          <div class="input-group">
            <input type="text" class="form-control" id="channel_id_input" name="channel_id" placeholder="Enter Channel ID">
            <span class="input-group-btn">
              <input type="hidden" name="input_type" value="channel_id">
              <button type="submit" style="background-color: lightgrey; margin-left: 2px;" class="btn btn-default">Search</button>    
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</nav>

<script src="{{ url_for('static', filename='js/indexforms.js') }}"></script>