<nav class="navbar navbar-default" style="background-color: #9c1d2a">
  <div class="container-fluid">
    <div class="navbar-header" style="height: 98px;">
      <a class="navbar-brand" href="#">
        <img src="{{ url_for('static', filename='img/ytstat.png') }}" alt="ytstat.com" width="273" height="65">
      </a>
    </div>


  
    <form class="navbar-form navbar-left" id="usernameSelected" method="post" onsubmit="return validateUsernameForm()">

<h3 class="formheader"> YouTube Channel's Name... YouTube Channel' ID...</h3>      
        <div class="form-group" style="display: flex; align-items: center;">
        
          
          <input type="text" class="form-control" id="username_input" name="username" placeholder="Enter Channel Name">
          <input type="hidden" name="input_type" value="username">
          <button type="submit" class="btn btn-default" style="margin-left: 10px;">Search</button>    
        
      </form>

        <form class="navbar-form navbar-left" id="idFormSelected" method="post" onsubmit="return validateIdForm()">
        <div style="display: flex;">
        
        <input type="text" class="form-control" id="channel_id_input" name="channel_id" placeholder="Enter Channel ID">
          <input type="hidden" name="input_type" value="channel_id">
          <button type="submit" class="btn btn-default" style="margin-left: 10px;">Search</button>
        
        </div>
        </form>
      </div>
    
  </div>
</nav>
<script src="{{ url_for('static', filename='js/indexforms.js') }}"></script>