{% extends "base.html" %}

{% block title %}ytstat.com | {{ title }}{% endblock %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/statstyle.css') }}">
{% endblock %}

{% block content %}

  <div class="ytstats-container">
    
    <div class="ytstats-col-left">
      <div class="ytstats-title">
        <h3 class="h3-title-desc">Title</h3>
        <h1>{{ title }}</h1>
      </div>
      <div class="ytstats-description">
        <h3 class="h3-title-desc">Description</h3>
        <p>{{ description }}</p>
      </div>
      <div class="ytstats-details">
        <h3 class="h3-title-desc">Total number of uploaded videos on channel</h3>
        <p> {{ totalvideos }} </p>
      </div>
      <div class="ytstats-details-middle">
        <h3 class="h3-title-desc">Total number of views for the channel's {{ totalvideos }} videos </h3>
        <p> {{ totalviews }}</p>
      </div>
      
    </div>
    
    <div class="ytstats-col-right">
      <div class="ytstats-recent-video">
        <h3>Most recent video published:</h3>
        <p>{{ latest_video_date }} </p> 
          <h3>With the title </h3> 
          <p>"<b>{{ latest_video_title }}</b>"</p> 
          <h5>Here is the thumbnail: </h5> 
          <img src="{{ latest_url_thumb }}" alt="thumbnail">
          <h6>video length: </h6>
          <p>{{ latest_video_duration }} </p>
        </p>  
      </div>
      <div class="ytstats-details-middle">
        <h3 class="h3-title-desc">Total number of subs</h3>
        <p> {{ totalsubs }}</p>
      </div>
    </div>
  </div>
{% endblock %}